.DS_Store
._.DS_Store
.idea
.eclipse
.vscode
.gitignore
.psql_history
*~
*.log
*.pyc
*.dump
*.swp
TODO
NOTES
tags
project.sublime-project
/housekeeping
/data
/log
/agents/tests/tests.log
/config
/venv
/snapshots
/storage
tmp/
__pycache__/
/nextcloud/config
/nextcloud/custom_apps
/nextcloud/data
/nextcloud-new
/nextcloud-old
/nextcloud-30
/modifications/diffs
/update/tests
/cli/TODO
/cli/tmp/
/cli/tests/cli/tmp
/cli/tests/venv
/cli/tests/config
/cli/.debug
/cli/.debug-config
/cli/snapshots
/cli/tags
!/.gitignore
